{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service - your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<a href="index.html" class="link-back">Back</a>

      <h1 class="heading-xlarge">
        Introduction
      </h1>
      <p>
        Hello and welcome to my new prototype.
      </p>

      <p>
        It contains all the information in the world.
      </p>

      <h2 class="heading-medium">Requirements</h2>

      <p>You <b>must</b> ensure you have all of the below requirements before continuing the application.</p>

			<ul class="list list-bullet">
				<li><a href="https://www.redcrossfirstaidtraining.co.uk/Courses/First-aid-public-courses.aspx">First Aid Course</a></li>
				<li><a href="https://www.gov.uk/government/publications/become-a-childcare-provider-health-declaration">Health Declaration Booklet</a></li>
			</ul>

		
		<a class="button"  value="Save and continue" href="carechoices.html"> Save and continue </a>
		
		
    </div>
  </div>
</main>

{% endblock %}


